<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <followup>
            <general>
                <enabled>1</enabled>
                <status>Received</status>
                <time_to_send_message>4320</time_to_send_message>
                <items_in_batch>10</items_in_batch>
            </general>
        </followup>
        <sales_email>
            <order>
                <ps_email_template_follow_up>sales_email_order_ps_email_template_follow_up</ps_email_template_follow_up>
                <ps_email_template_follow_up_guest>sales_email_order_ps_email_template_follow_up_guest</ps_email_template_follow_up_guest>
            </order>
        </sales_email>
    </default>
</config>
