<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="followup"
                 translate="label"
                 type="text"
                 showInDefault="1"
                 showInWebsite="1"
                 sortOrder="160">
            <class>separator-top</class>
            <label>Follow up messages</label>
            <tab>perspective</tab>
            <resource>Perspective_FollowUpMessages::followupmessages_config</resource>
            <group id="general"
                   translate="label"
                   type="text"
                   sortOrder="1"
                   showInDefault="1"
                   showInWebsite="1">
                <label>General</label>
                <field id="enabled"
                       translate="label"
                       type="select"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="1">
                    <label>Enable</label>
                    <comment>Enable scheduling.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="status"
                       translate="label"
                       type="select"
                       sortOrder="2"
                       showInDefault="1"
                       showInWebsite="1">
                    <label>Status</label>
                    <comment>Status which used to work with.</comment>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                </field>
                <field id="time_to_send_message"
                       translate="label"
                       type="text"
                       sortOrder="3"
                       showInDefault="1"
                       showInWebsite="1">
                    <label>Amount of Time to postpone of Sending the Message</label>
                    <comment>In minutes</comment>
                </field>
                <field id="items_in_batch"
                       translate="label"
                       type="text"
                       sortOrder="3"
                       showInDefault="1"
                       showInWebsite="1">
                    <label>Amount of items which process per minute</label>
                </field>
            </group>
        </section>
        <section id="sales_email" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>customer</tab>
            <resource>Magento_Customer::config_customer</resource>
            <group id="order" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="ps_email_template_follow_up" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>
                        Follow up email Template for order
                    </label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Perspective\Email\Model\Source\EmailTemplates</source_model>
                </field>
                <field id="ps_email_template_follow_up_guest" translate="label comment" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>
                        Follow up email Template for Guest for order
                    </label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Perspective\Email\Model\Source\EmailTemplates</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
